@import "reset";
@import "_variables";

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: $white;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: $fixedWidth;
  height: 100%;
  padding: 10vh 72px 72px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: $red;
  h1 {
    font-size: 85px;
    width: 50%;
    text-transform: uppercase;
    letter-spacing: 5px;
  }
  h3 {
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 20px;
  }
  h3,
  p {
    width: 90%;
    line-height: 1.2;
    text-align: justify;
  }
  p {
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 20px;
  }
  nav {
    width: 80%;
    ul {
      display: flex;
      flex-wrap: wrap;
      li {
        cursor: pointer;
        margin-right: 10px;
        font-size: 15px;
        color: black;
        padding-bottom: 5px;
        border-bottom: 2px solid rgba(0, 0, 0, 1);
        margin-bottom: 10px;
        opacity: 0.5;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

main {
  margin-left: $fixedWidth;
  .movie {
    background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.1) 0.5%,
        transparent,
        transparent,
        transparent,
        transparent
      )
      $red;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    .wrapper {
      width: 80%;
      display: flex;
      flex-direction: column;
      .movie_header {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 25px;
        h4 {
          font-size: 32px;
        }
        h5 {
          letter-spacing: 2px;
        }
      }
    }
    img {
      width: 100%;
      box-shadow: 0 80px 80px -80px #000, 0 0 12px rgba(0, 0, 0, 0.06),
        inset 0 0 0 1px rgba(0, 0, 0, 0.2);
    }
  }
}
